
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f9fa; /* Light gray background */
    }

    #toolbar {
      background-color: darkcyan; /* Primary blue color */

      margin: 10px;
      margin-top: 10px;
      color: #fff;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
    }

    #pdf-viewer-container {
      position: sticky;
      width: 100%;
      margin: 20px auto; /* Improved margin for better centering */
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for a subtle lift */
      background-color: #fff; /* White background */
      border-radius: 10px; /* Rounded corners for a modern look */
    }

    #pdf-viewer {
      width: 100%;
      height: calc(100vh - 120px); /* Adjusted height for the fixed toolbar and improved spacing */
      border: none;
    }

    #fullscreen-btn {
      position: absolute;
      top: -45px;
      right: 5px;
      color: #fff;
      cursor: pointer;
      background-color: lightpink; /* Primary blue color for the button */
      border: none;
      border-radius: 50%; /* Circular button */
      padding: 0;
      transition: background-color 0.3s ease;
    }

    #fullscreen-btn svg {
      width: 35px;
      height: 35px;
    }

    #fullscreen-btn:hover {
      background-color: darkcyan; /* Darker blue on hover */
      transform: scale(1.3);
    }
  